body,
html {
  height: 100%;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $wrapper-color;
}

.wrapper {
  position: relative;
  padding: 50px 0;

  width: calc(100vw - 100px);
  max-width: 1400px;

  margin: 50px auto;

  background-color: #fff;
  border-radius: 10px;
}

.container {
  width: $container-width;
  margin: 0 auto;
  position: relative;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--cart {
    margin: 90px auto;
    max-width: 820px;
  }
}

.page {
  overflow: hidden;
}

button {
  border: 0;
  cursor: pointer;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button[type="button"] {
  cursor: pointer;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

